@import url('https://fonts.googleapis.com/css2?family=Merriweather');

:root{
  --text-dark-color: #000000;
  --text-dark-disabled-color: #777777;
  --text-light-color: #F6F6F6;
  --text-light-disabled-color: #B3B3B3;
  --bg1-color: #F6F6F6;
  --bg2-color: #FFFFE4;
  --bg3-color: #0D1215;
  --accent1-color: #AD0000;
  --accent2-color: #00AD9C;
  --accent3-color: #0059AD;

  --h1-font-size: 36px;
  --h2-font-size: 24px;
  --h3-font-size: 22px;
  --h4-font-sixe: 20px;
  --body-font-size: 19px;
  --menu-link-font-size: 25px;
  
  --main-horizontal-padding: 100px;
  --main-vertical-padding: 50px;
}

.header{
  display: flex;
  flex-direction: row;
  padding-right: var(--main-horizontal-padding);
  padding-left: var(--main-horizontal-padding);
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  flex: 1;
}

.menu{
  display: flex;
  flex-direction: row;
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: space-between;
  width: fit-content;
  gap: 15px;
}

.logo-container{
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  width: fit-content;
  height: fit-content;
  align-items: center;
}

.logo{
  width: 100px;
}


.menu-link {
  font-family: "Merriweather", serif;
  font-size: 20px;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 0px;
  color: var(--accent2-color);
  text-decoration: none;
}

.menu-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.page-title-container{
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-left: var(--main-horizontal-padding);
  padding-right: var(--main-horizontal-padding);
  padding-top: var(--main-vertical-padding);
  padding-bottom: var(--main-vertical-padding);
  gap: 30px;
  flex: 1;
}

.home-content-container{
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-left: var(--main-horizontal-padding);
  padding-right: var(--main-horizontal-padding);
  padding-top: 140px;
  padding-bottom: 140px;
  gap: 30px;
  flex: 1;
}

.social-links-container{
  display: flex;
  flex-direction: row;
  flex: 1;
}

.social-link{
  color: var(--text-dark-color);
}

.social-link:hover{
  color:#aaaaaa;
}

.project-cards-container{
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-left: var(--main-horizontal-padding);
  padding-right: var(--main-horizontal-padding);
  padding-top: var(--main-vertical-padding);
  padding-bottom: var(--main-vertical-padding);
  justify-content: space-between;
  flex: 1;
}

.project-card{
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-between;
  flex: 1;
  flex-grow: 1;
}

.project-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  flex: 1;
}

.separator{
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
  flex: 1;
}

.carousel-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-slide-container{
  flex: 0 0 100%;
  scroll-snap-align: start;
}

.carousel-slide{
  width: 100%;
  aspect-ratio: 16/9;
  display: block;
  object-fit: cover;
}

.carousel-track{
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.carousel-track::-webkit-scrollbar {
  display: none;
}

.slide-control-button{
  width: 45px;
  height: 45px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.slide-control-button:hover{
  color: #aaaaaa;
}

.previous-button{
  left: 1px;
}

.next-icon{
  transform: translateX(-25px);
}

.button-styling{
  border: none;
  background-color: transparent;
}

.next-button{
  right: 1px;
}

.essay-cards-container{
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-between;
  flex: 1;
}

.essay-card{
  display:flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 20px;
  flex: 1;
}

.text-normal{
  color: var(--text-dark-color);
}

.text-links{
  color: var(--accent2-color);
}

.heading1 {
  font-family: "Merriweather", serif;
  font-weight: 600;
  font-size: 46px;
  color: var(--text-dark-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-stretch: 125%;
}

.heading2 {
  font-family: "Merriweather", serif;
  font-weight: 500;
  font-size: 24px;
  color: var(--text-dark-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-stretch: 125%;
}

.heading3 {
  font-family: "Merriweather", serif;
  font-weight: normal;
  font-size: 22px;
  color: var(--text-dark-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-stretch: 125%;
}

.heading4{
  font-family: "Merriweather", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 100;
  font-size: 20px;
  color: var(--text-dark-color);
}

.body-style{
  font-family: "Merriweather", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  font-size: 19px;
  color: var(--text-dark-color);
}

.essay-link{
  font-family: "Merriweather", serif;
  font-weight: 500;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-stretch: 125%;
  color: var(--accent2-color);
}

.footer-container
{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding-right: var(--main-horizontal-padding);
  padding-left: var(--main-horizontal-padding);
}
.footer{
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 60px;
  padding-left: 60px;
  justify-content: space-between;
  flex: 1;
}

.circles-container{
  display: flex;
  gap: 10px;
  flex-direction: row;
  width: fit-content;
  align-items: center;
}

.circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.footer-text{
  font-family: "Merriweather", serif;
  color: var(--accent2-color);
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-stretch: 125%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

hr {
  border: none;
  height: 2px;
  background-color: #333;
  width: 100%;
}

a{
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

