:root{
  --text-dark-color: #000000;
  --text-dark-disabled-color: #777777;
  --text-light-color: #F6F6F6;
  --text-light-disabled-color: #B3B3B3;
  --bg1-color: #F6F6F6;
  --bg2-color: #FFFFE4;
  --bg3-color: #0D1215;
  --accent1-color: #AD0000;
  --accent2-color: #00AD9C;
  --accent3-color: #0059AD;
  
  --main-horizontal-padding: 6.25rem;
  --main-vertical-padding: 3.125rem;
}

@media (max-width: 786px){
  html{
    font-size: 12px;
  }
  .footer{
    display: flex;
    flex-direction: column !important;
    align-items:center;
    gap: 0.9375rem;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    padding-right: 3.75rem;
    padding-left: 3.75rem;
    justify-content: space-between;
    flex: 1;
  }
  .header{
  display: flex;
  flex-direction: column !important;
  padding-right: var(--main-horizontal-padding);
  padding-left: var(--main-horizontal-padding);
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  align-items:center;
  flex: 1;
}
}

@media (max-width:900px){
  .project-card{
    display: flex;
    flex-direction: column !important;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    justify-content: space-between;
    flex: 1;
    flex-grow: 1;
}
}

.header{
  display: flex;
  flex-direction: row;
  padding-right: var(--main-horizontal-padding);
  padding-left: var(--main-horizontal-padding);
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  justify-content: space-between;
  flex: 1;
}

.menu{
  display: flex;
  flex-direction: row;
  padding-top: 0rem;
  padding-bottom: 0rem;
  justify-content: space-between;
  width: fit-content;
  gap: 0.9375rem;
}

.logo-container{
  display: flex;
  padding-top: 0rem;
  padding-bottom: 0rem;
  width: fit-content;
  height: fit-content;
  align-items: center;
}

.logo{
  width: 6.25rem;
}


.menu-link {
  font-family: "Merriweather", serif;
  font-size: 1.25rem;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  padding-top: 0.3125rem;
  padding-bottom: 0rem;
  color: var(--accent2-color);
  text-decoration: none;
  font-variation-settings:
    "wdth" 98;
}

.menu-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.page-title-container{
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-left: var(--main-horizontal-padding);
  padding-right: var(--main-horizontal-padding);
  padding-top: var(--main-vertical-padding);
  padding-bottom: var(--main-vertical-padding);
  gap: 1.875rem;
}

.home-content-container{
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-left: var(--main-horizontal-padding);
  padding-right: var(--main-horizontal-padding);
  padding-top: 8.75rem;
  padding-bottom: 8.75rem;
  gap: 1.875rem;
  flex: 1;
}

.social-links-container{
  display: flex;
  flex-direction: row;
  flex: 1;
}

.social-link{
  color: var(--text-dark-color);
}

.social-link:hover{
  color:#aaaaaa;
}

.project-cards-container{
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-left: var(--main-horizontal-padding);
  padding-right: var(--main-horizontal-padding);
  padding-top: var(--main-vertical-padding);
  padding-bottom: var(--main-vertical-padding);
  justify-content: space-between;
  flex: 1;
}

.project-card{
  display: flex;
  flex-direction: row;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  justify-content: space-between;
  flex: 1;
  flex-grow: 1;
}

.project-details{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  flex: 1;
}

.separator{
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
  flex: 1;
}

.carousel-container{
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-slide-container{
  flex: 0 0 100%;
  scroll-snap-align: start;
}

.carousel-slide{
  width: 100%;
  aspect-ratio: 16/9;
  display: block;
  object-fit: cover;
}

.carousel-track{
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.carousel-track::-webkit-scrollbar {
  display: none;
}

.slide-control-button{
  width: 2.8125rem;
  height: 2.8125rem;
  font-size: 0.9375rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.slide-control-button:hover{
  color: #aaaaaa;
}

.previous-button{
  left: 1px;
}

.next-icon{
  transform: translateX(-25px);
}

.button-styling{
  border: none;
  background-color: transparent;
}

.next-button{
  right: 1px;
}

.essay-cards-container{
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-between;
  flex: 1;
}

.essay-card{
  display:flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  gap: 1.25rem;
  padding-right: var(--main-horizontal-padding);
  padding-left: var(--main-horizontal-padding);
}

.text-normal{
  color: var(--text-dark-color);
}

.text-links{
  color: var(--accent2-color);
}

.heading1 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 2.875rem;
  color: var(--text-dark-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variation-settings:
    "wdth" 98;
}

.heading2 {
  font-family: "Merriweather", serif;
  font-weight: 450;
  font-size: 1.625rem;
  color: var(--text-dark-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variation-settings:
    "wdth" 98;
}

.heading3 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--text-dark-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variation-settings:
    "wdth" 100;
}

.heading4{
  font-family: "Merriweather", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  font-size: 1.188rem;
  color: var(--text-dark-color);
  font-variation-settings:
    "wdth" 100;
}

.project-title {
  font-family: "Merriweather", serif;
  font-weight: 600;
  font-size: 2rem;
  color: var(--text-dark-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variation-settings:
    "wdth" 98;
}

.essay-container{
  padding-right: 28.125rem;
  padding-left: 28.125rem;
  padding-bottom: 1.25rem;
}

.body-style{
  font-family: "Merriweather", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 150%;
  font-size: 1.25rem;
  color: var(--text-dark-color);
  font-variation-settings:
    "wdth" 96;
}

.body-style-alt{
  font-family: "Merriweather", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--text-dark-color);
  font-variation-settings:
    "wdth" 96;
}

.p-style-alt{
  margin: 0;
}

.essay-link{
  font-family: "Merriweather", serif;
  font-weight: 600;
  font-size: 2rem;
  color: var(--accent2-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variation-settings:
    "wdth" 98;
}

.essay-visual{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.img-description{
  text-align: center;
  color: var(--text-dark-disabled-color);
  font-family: "Merriweather", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 80%;
  font-size: 1.25rem;
  font-variation-settings:
    "wdth" 96;
  margin: 0;
}

.footer-container
{
  display: flex;
  flex-direction: column;
  padding-right: var(--main-horizontal-padding);
  padding-left: var(--main-horizontal-padding);
}
.footer{
  display: flex;
  flex-direction: row;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  padding-right: 3.75rem;
  padding-left: 3.75rem;
  justify-content: space-between;
  flex: 1;
}

.circles-container{
  display: flex;
  gap: 0.625rem;
  flex-direction: row;
  width: fit-content;
  align-items: center;
}

.circle{
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
}

.footer-text{
  font-family: "Merriweather", serif;
  color: var(--accent2-color);
  font-size: 1.25rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variation-settings:
    "wdth" 98;
}

.name-styling{
  font-style: italic;
}

.page-title-alt{
  text-align: center;
  padding-left: var(--main-horizontal-padding);
  padding-right: var(--main-horizontal-padding);
  padding-top: 2.5rem;
  padding-bottom: 0.9375rem;
}

.essay-title{
  padding-top: 2.5rem;
  padding-bottom: 0.9375rem;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

hr {
  border: none;
  height: 0.125rem;
  background-color: #333;
  width: 100%;
}

a{
  text-decoration: none;
  color: var(--accent2-color);
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

